*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  height: 100px;
  width: 100%;
  background-color: black;
}
select{
  display: block;
}
header h1{
  color: red;
  font-size: 40px;
  margin-left: 10px;
}
header .header{
  height: 100%;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .input .button{
  border: 0;
  color: red;
  background-color: black;
  cursor: pointer;
  font-size: 15px;
}
header .generi{
  margin-left: 10px;
}
.container{
  width: 100%;
}
.classe-film, .classe-serie{
  font-size: 30px;
  text-align: center;
}
.film, .serie{
  display: flex;
  flex-wrap: wrap;
}
.film .copertina, .serie .copertina{
  list-style-type: none;
  width: calc(20% - 20px);
  height: 15%;
  margin: 10px;
  position: relative;
}
.film .copertina #copertina-film, .serie .copertina #copertina-film{
  height: 278px;
  width: 100%;
}
.film .copertina #copertina-film img, .serie .copertina #copertina-film img{
  height: 100%;
  width: 100%;
}
.specifiche{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  list-style-type: none;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  overflow-y: auto;
}
.specifiche li{
  margin-bottom: 20px;
}
.specifiche li span{
  color: red;
}
.specifiche li #star{
  color: gold;
}
.copertina:hover .specifiche{
  display: block;
}
.not-found{
  margin: 10px 5px;
  font-size: 20px;
}
.none{
  display: none;
}
