*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header{
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1{
  color: red;
  font-size: 40px;
  margin-left: 10px;
}
header .input{
margin-right: 20px;
}
header .input .button{
  border: 0;
  color: red;
  background-color: black;
  cursor: pointer;
  font-size: 15px;
}
.container{
  width: 100%;
}
.film .copertina, .serie .copertina{
  list-style-type: none;
  float: left;
  width: 200px;
  height: 278px;
  margin: 5px 6px;
  position: relative;
}
.film .copertina #copertina-film, .serie .copertina #copertina-film{
  height: 278px;
  width: 200px;
}
.film .copertina #copertina-film img, .serie #copertina-film li img{
  height: 100%;
  width: 100%;
}
.specifiche{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  list-style-type: none;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  cursor: pointer;
  overflow-y: auto;
}
.specifiche li{
  margin-bottom: 20px;
}
.specifiche li span{
  color: red;
}
.specifiche li #star{
  color: gold;
}
.copertina:hover .specifiche{
  display: block;
}
.none{
  display: none;
}
